/* Page*/
.task-board {
  background-color: #fafafa;
  min-height: 100vh;
  padding: 20px 96px;
  box-sizing: border-box;
  position: relative;
}

/* Sidebars */
.sidebar {
  position: fixed;
  z-index: 100;
  top: 32px;
  bottom: 32px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar.left {
  left: 32px;
}

.sidebar.right {
  right: 32px;
  
}

/* Internal groups */
.sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 37px;
}

/* Icons */
.material-symbols-rounded {
  font-size: 25px;
  font-family: 'Material Symbols Rounded';
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.action-icon {
  width: 37px;
  height: 37px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;

  color:#fafafa;
  background-color: #a5a5a5;
  cursor: pointer;

  transition: all 0.2s ease;
}

.action-icon:active {
  transform: scale(0.85);
}

/* Research */
.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-container input {
  height: 37px;
  width: 180px;

  padding: 0 12px;
  border: none;
  outline: none;

  color: #fafafa;
  background-color: #a5a5a5;
  border-radius: 999px;

  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;

  transition: transform 0.3s ease, opacity 0.2s ease;
  pointer-events: none;
}

.search-container.open input {
  transform: scaleX(1);
  opacity: 1;
  pointer-events: auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15)
}

.search-container .action-icon {
  flex-shrink: 0;
}

.board-content {
  margin: 0 auto;
  max-width: 1400px;
}

.board-header {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.kanban {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.column {
  background: #f4f4f4;
  border-radius: 16px;
  padding: 16px;
  min-height: 700px;
}

.column h2 {
  text-align: center;
  margin-bottom: 16px;
}

.task-card {
  background: white;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,.08);
}