<div class="task-board">

    <header class="board-header">

        <div #searchContainer class="search-container" [class.open]="isSearchOpen">
            <button class="icon-btn" (click)="toggleSearch()">
                <span class="material-symbols-rounded">search</span>
            </button>

            <input
            #searchInput
            type="text"
            [(ngModel)]="searchTerm"
            (ngModelChange)="search($event)"
            placeholder="Search tasks..."
            />
        </div>

        <h1>Task Board</h1>

        <button class="icon-btn add-btn" (click)="openCreateModal()">
            <span class="material-symbols-rounded">add</span>
        </button>

    </header>

    <section class="kanban">

        <div class="column" *ngFor="let col of columns">

            <div class="column-header" [ngClass]="col.colorClass">
                <h2>{{ col.title }}</h2>
            </div>

            <div class="column-body">

                <div class="task-card" *ngFor="let task of tasksByStatus(col.status)" (click)="openDetails(task)">

                    <div class="card-top">

                        <div class="card-text">
                            <span class="card-id">#{{ task.id }}</span>
                            <strong class="card-title">{{ task.title }}</strong>
                            <p class="card-description">{{ task.description }}</p>
                        </div>

                        <span class="priority-dot" [ngClass]="task.priority.toLowerCase()"></span>
                    </div>

                    <div class="card-bottom">
                        <span class="card-date">{{ task.assignee }}</span>

                        <div class="card-nav">
                            <button *ngIf="canGoBack(task.status)" class="nav-btn" (click)="$event.stopPropagation(); moveTask(task, -1)">
                                <span class="material-symbols-rounded">chevron_left</span>
                            </button>

                            <button *ngIf="canGoForward(task.status)" class="nav-btn" (click)="$event.stopPropagation(); moveTask(task, 1)">
                                <span class="material-symbols-rounded">chevron_right</span>
                            </button>
                        </div>

                    </div>

                </div>

                <p class="empty-hint" *ngIf="tasksByStatus(col.status).length === 0">
                    No tasks
                </p>

            </div>
        </div>

    </section>

</div>