<div class="task-board">

    <!-- LEFT BACK -->
    <aside class="sidebar left">

        <div class="sidebar-top">

            <div #searchContainer class="search-container" [class.open]="isSearchOpen">
                <button class="action-icon" (click)="toggleSearch()">
                    <span class="material-symbols-rounded">search</span>
                </button>

                <input
                #searchInput
                type="text"
                [(ngModel)]="searchTerm"
                (ngModelChange)="search($event)"
                placeholder="Search tasks..."
                />
            </div>
        </div>

    </aside>

    <!-- MAIN CONTENT -->
    <main class="board-content">

        <header class="board-header">
        <h1>Task Board</h1>
        </header>

        <section class="kanban">

            <div class="column">
                <h2>BACKLOG</h2>
                <div class="task-card" *ngFor="let task of backlogTasks()">
                    {{ task.title }}
                </div>
            </div>

            <div class="column">
                <h2>ON HOLD</h2>
                <div class="task-card" *ngFor="let task of onHoldTasks()">
                    {{ task.title }}
                </div>
            </div>

            <div class="column">
                <h2>IN PROGRESS</h2>
                <div class="task-card" *ngFor="let task of inProgressTasks()">
                    {{ task.id }}
                    {{ task.title }}
                    {{ task.description }}
                    {{ task.assignee }}
                </div>
            </div>

            <div class="column">
                <h2>DONE</h2>
                <div class="task-card" *ngFor="let task of doneTasks()">
                    {{ task.title }}
                </div>
            </div>

        </section>

    </main>


</div>
